
		<footer class="footer">
			<ul id="footer-container" class="default-footer">
				<li class="footer-image"><a>
						<img src="/public/githubLogo.png" width="200" height="200" alt="github logo">
					</a></li>
				<li class="footer-image"><a>
						<img src="/public/mediumLogo.webp" width="200" height="200" alt="medium logo">
					</a></li>
				<li class="footer-image"><a>
						<img src="/public/twitterLogo.png" width="200" height="200" alt="twitter logo">
					</a></li>
			</ul>
		</footer>
