		<nav class="nav">
			<div class="title-container">
				<h1 class="nav-title">gianni.land 👾</h1>
			</div>
			<div class="nav-container">
				<ol class="nav-list">
					<li class="nav-items"><a href="/notes">Notes</a></li>
					<li class="nav-items"><a href="/projects">Projects</a></li>
					<li class="nav-items"><a href="/blog">Blog</a></li>
				</ol>
			</div>
		</nav>
