---
layout: base.njk
script: /js/index.js
styles: /styles/stagingPage.css
---


<link href="/styles/stagingPage.css" type="text/css"></link>
<div class="staging-title">
<h1>{{ PageTitle }}</h1>
</div>
<div class="staging-content-container">
{{ content | safe }}
</div>





