---
title: gianni.land home page 🏠
layout: base.njk
styles: styles/index.css
---
{% block styles %}
     <link rel="stylesheet" href=/styles/index.css type="text/css"></link>
{% endblock%}

<div class="description">
<p>
Here you'll find some of the topics that get me up in the morning ☕️
</p>
<br/>
<p>
A little bit about me,
<br/>
<br/>
Prior to starting my academic journey of pursuing a BS in Computer Science, I had a robust career as a 
<a id="link" href="https://en.wikipedia.org/wiki/Brazilian_jiu-jitsu">Jiu-Jitsu</a>
 professional. I spent over a decade (from the age of 10 - 24) studying Jiu-Jitsu specific body mechanics and strategy. I was able to reach the pinnacle level of Jiu-Jitsu competition and pride myself on being a formidable competitor. Towards the end of my competition career I authored many technical documents on the subject and began teaching and leading teams. 
</p>
<br/>
<p>
Nowdays, I apply that same relentless energy and passion on the research and practice of technology (sometimes I still write about jiu-jitsu). I am currently enrolled in PSU under their engineering program. I love coding in C++ though I don’t discriminate, I love any framework/language that’s going to do the job for my use case.
</p>
<br/>
<!---
<p>
Lay of gianni.land:
<br/>
<br/>
<ul>


<li> * <a id="link" href="/notes">Notes</a> is a place for quick and dirty ideas and thought that come to my head.</li>

<li> * <a id="link" href="/projects">Projects</a> are ongoing development software i've made available for open source on my * 
<a id="link" href="https://github.com/giannicrivello">github</a>
</li>
<li> * <a id="link" href="/blogs">Blog</a> can be thought of a more refined notes section where I share my opinion.</li>
</p>
</div>
{% block script %} 
		<script charset="utf-8" src=/js/index.js type="text/javascript"></script>
{% endblock %}
--->
